.general{
  margin-top: 10vh;
}
.general input{
outline: 1px solid #b02b02;
border-radius: 0.2rem;
border: none;
margin-top: 0.3rem;
}
.general h3{
  color: aliceblue;
  font-weight: 200;
}
.root {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  margin-top: 1rem;
  gap: 0.5rem;
  place-items: center;
  padding: 0.5rem;
  
}
.wrapper:hover{
 transform: scale(1.01);
}
.wrapper{
  width: 100%;
  min-height: 416px;
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.9);
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
.wrapper img{
  width: 100%;
  min-height: 379px;
  object-fit: cover;
}
.wrapper p{
  min-height: 39px;
  color: aliceblue;
}
.link{
  text-decoration: none;
}
